<div class="main-container">
    <header class="header header-6">
      <div class="branding">
        <a routerLink="/">
          <cds-icon shape="bookmark"></cds-icon>
          <span class="title">LibreBorr</span>
        </a>
      </div>
      <div class="header-nav">
        <a routerLink="/books" class="nav-link nav-icon" routerLinkActive="active">
          <cds-icon shape="book"></cds-icon>
        </a>
        <a routerLink="/friends" class="nav-link nav-icon" routerLinkActive="active">
          <cds-icon shape="users"></cds-icon>
        </a>
      </div>
    </header>
    <nav class="subnav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/books" routerLinkActive="active">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books/shelf" routerLinkActive="active">Shelf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books/wishlist" routerLinkActive="active">❤️ Wishlist</a>
        </li>
      </ul>
    </nav>
    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>